<div class="detail">
  <div class="detail__wrapper">
    <figure class="detail__media">
      <img src="" alt="" class="detail__media__image" />
    </figure>
    <div class="detail__information">
      <p class="detail__information__collection"></p>
      <h1 class="detail__information__title"></h1>

      <div class="detail__information__content">
        <div class="detail__information__highlights">
          <p class="detail__information__highlight">
            <svg class="detail__information__highlight__icon"></svg>
            <span class="detail__information__highlight__text"></span>
          </p>
        </div>

        <div class="detail__information__list">
          <p class="detail__information__item">
            <strong class="detail__information__item__title"></strong>
            <span class="detail__information__item__description"></span>
          </p>
        </div>
        <a href="" target="_blank" class="detail__information__link"></a>
      </div>
    </div>
  </div>
</div>
