<div class="collections">
  <div class="collections__wrapper">
    <div class="collections__titles">
      <div class="collections__titles__label"></div>
      <div class="collections__titles__title"></div>
    </div>
    <div class="collections__gallery">
      <div class="collections__gallery__wrapper">
        <a href="" class="collections__gallery__link">
          <figure class="collections__gallery__media">
            <img src="" alt="" class="collections__gallery__media__image" />
          </figure>
        </a>
      </div>
    </div>
    <div class="collections__content">
      <article class="collections__article">
        <h2 class="collections__article__title"></h2>
        <p class="collections__article__description"></p>
      </article>
    </div>
  </div>
</div>
