@font-face {
  font-family: $font-george-x;
  src: url("../../assets/fonts/georgex-regular.woff2") format("woff2"),
    url("../../assets/fonts/georgex-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-suisse-bp;
  src: url("../../assets/fonts/suissebpinti-light.woff2") format("woff2"),
    url("../../assets/fonts/suissebpinti-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-suisse-bp;
  src: url("../../assets/fonts/suissebpinti-regular.woff2") format("woff2"),
    url("../../assets/fonts/suissebpinti-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-suisse-bp;
  src: url("../../assets/fonts/suissebpinti-ultralight.woff2") format("woff2"),
    url("../../assets/fonts/suissebpinti-ultralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
